:root {
  --console-height: min(30vh, 256px);
}

body {
  font-family: sans-serif;
  font-size: 12pt;
  margin: 8px;
  background-color: #ccc;
  color: #111;
}

.main {
  box-sizing: border-box;
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--console-height);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  align-content: flex-start;
}

.dropShade {
  display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(0,255,160,0.85), #0000);
  color: white;
  text-shadow: 0px 1px 5px black, 0px 1px 5px black, 0px 2px 3px black;
  font-size: 3vmin;
  box-shadow: inset 0 0 5vmax rgba(0,255,160,1);
  z-index: 100;
  pointer-events: none;
  text-align: center;
}
.dropShade::before { content: 'You can drop the file here'; }
.dropShade.faded::before { opacity: 0.25; }
.dragOver .dropShade { display: flex; }

.dropBox {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 256px;
  box-shadow: inset 0px 3px 7px #0008;
  border: 2px solid #585858;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  color: #111;
  text-align: center;
}

.dropBox:focus {
  box-shadow: inset 0 0 2px 3px #cf5;
  border-color: #9b4;
}

.dropBox > input[type=file] {
  display: none;
}

#console {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--console-height);
  background: linear-gradient(to bottom, black 80%, #222);
  color: #ccc;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 10pt;
  line-height: 140%;
  z-index: 100;
}

#console > * {
  margin-top: 4px;
}

.clickToSelect {
  cursor: pointer;
}

.template {
  display: none !important;
}

.file {
  display: flex;
  padding: 3px 2px;
  border: 1px solid #aaa;
  background: #777;
  box-shadow: 0 3px 3px #0002;
  flex-direction: column;
  width: max(33.3333333%, 400px);
  border-radius: 2px;
  color: #eee;
  box-sizing: border-box;
}

.file .filename {
  text-align: center;
  background: linear-gradient(-3deg, #fff1, #fff2, #fff0) #cf5;
  border: 1px solid #888;
  padding: 2px;
  margin-bottom: 4px;
  color: #111;
  box-shadow: 0 1px 3px -1px #0008;
  border-radius: 2px;
}

.file .fileContents {
  overflow-y: auto;
  font-size: 10pt;
}

.file .songProperties {
  margin: 4px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.file audio {
  box-sizing: border-box;
  width: 100%;
}

.cueView {
  margin-top: 5px;
  border-radius: 4px 4px;
  padding: 72px 4px 4px;
  position: relative;
  background: #444;
}

.cueView select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.cueView .cueTitle {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  border-radius: 2px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #fff8;
  color: #111;
}

.cueTimeline {
  position: relative;
  height: 12px;
  border: 4px;
  background: #cf5 linear-gradient(to bottom, #0000, #0004);
  border-radius: 3px;
}

.cueTimeline .cuePoint {
  position: absolute;
  width: calc(100% - 8px);
  height: 0;
  top: 0;
}

.cueTimeline .cuePoint .cuePin {
  position: absolute;
  width: 8px;
  height: 12px;
  background: #f70 linear-gradient(to bottom, #0000, #0008);
}

.cuePoint:hover .cuePin {
  box-shadow: 0 0 3px 2px #fff;
}

.cuePoint:hover .cueDescription {
  display: flex;
}

.cueDescription {
  display: none;
  position: absolute;
  top: -48px;
  height: 40px;
  width: calc(100% + 8px);
  background: #f70 linear-gradient(-3deg, #fff1, #fff4, #fff0);
  align-items: center;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  color: #111;
  /* text-shadow: 0px 1px 1px #0008; */
}

.cuePoint:hover .cueDescription::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 8px;
  left: 0;
  right: 0;
}
